<form action="" method="POST" id="form">
    <div>
        <h1>Login:</h1>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{email}}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>
    <div>
        <label for="rememberme">Remember me:</label>
        <input type="checkbox" name="rememberme">
    </div>
    <div>
        <button id="forgotPassword">Forgot password</button>
        <button type="submit">Login</button>
    </div>
</form>

<script>
    window.onkeypress = (e) => {
        switch (e.key) {
            case "Enter":
                e.preventDefault()
                form.submit()
                break;
            default:
                break;
        }
    }

    forgotPassword.onclick = (e) => {
        e.preventDefault()
        window.location.href = '/forgotpassword'
    }
</script>