<form action="" method="POST" id="form" class="customForm">
    <div>
        <h1>Register</h1>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{name}}">
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{username}}">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{email}}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value="{{password}}">
    </div>
    <div>
        <label for="repeatPassword">Repeat Password:</label>
        <input type="password" name="repeatPassword" value="{{repeatPassword}}">
    </div>
    <div>
        <button id="forgotPassword">Forgot password</button>
        <button type="submit">Register</button>
    </div>
</form>

<script>
    window.onkeypress = (e) => {
        switch (e.key) {
            case "Enter":
                e.preventDefault()
                form.submit()
                break;
            default:
                break;
        }
    }

    forgotPassword.onclick = (e) => {
        e.preventDefault()
        window.location.href = '/register/forgotpassword'
    }
</script>