<div class="resetPasswordForm">
    <br>
    <form action="" method="post">
        <div>
            <h1>Reset Password</h1>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" value="{{email}}" disabled="true" id="email">
        </div>
        <div>
            <label for="email">Password:</label>
            <input type="password" value="" name="password">
        </div>
        <div>
            <label for="email">Repeat password:</label>
            <input type="password" value="" name="repeatPassword">
        </div>
        <div>
            <button type="submit">Change password</button>
        </div>
    </form>
</div>