<form action="" method="POST" id="form" class="customForm">
    <div>
        <h1>Register</h1>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{name}}">
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{username}}">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{email}}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value="{{password}}">
    </div>
    <div>
        <label for="repeatPassword">Repeat Password:</label>
        <input type="password" name="repeatPassword" value="{{repeatPassword}}">
    </div>
    <div>
        <button type="submit" style="float: right;">Register</button>
        <button id="forgotPassword" style="float: left;">Forgot password</button>
    </div>
</form>

<script>
    forgotPassword.onclick = (e) => {
        e.preventDefault()
        window.location.href = '/register/forgotpassword'
    }
</script>