:root {
    --accent: #00ABE7;
    --extra: #0081AF;
    --font: #FBFEF9;
    --background: #333;
}

*{
    color: var(--font);
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background: var(--background);
    min-height: 100vh;
}

button{
    background: var(--accent);
    border: none;
    padding: 2.5px 10px;
    transition: background-color 0.5s;
}

button:hover{
    color: var(--background);
    background: var(--extra);
    border: none;
}

#navbar{
    background: var(--accent);
    height: 4rem;
    width: 100vw;
    align-items: center;
    margin: auto;
}

#navbar a{
    display: inline-grid;
    padding: 0 1rem;
    height: 100%;
    color: var(--font);
    text-decoration: none;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    align-content: center;
    float: right;
    transition: background-color 0.5s;
}

#navbar a:hover{
    color: var(--background);
    background: var(--extra);
}

#navbar #title{
    float: left;
    font-weight: bold;
}

#navbar #profilePicture{
    image-rendering: pixelated;
    max-height: 3rem;
}

#currentProfilePicture{
    image-rendering: pixelated;
    max-height: 25rem;
}

#pictureOutputHolder{
    max-width: 25rem;
    max-height: 25rem;
}

div input[type=text], div input[type=password], div input[type=email]{
    float: right;
}

div input[type=checkbox]{
    /* float: left; */
    float: right;
    width: 1.5rem;
    height: 1.5rem;
}

form{
    width: 25rem;
}

form div{
    width: 100%;
    padding-top: 0.5rem;
}

form div label{
    padding-right: 0.5rem;
}

select, option{
    color: black;
}

form div input{
    height: 1.5rem;
    width: 12.5rem;
    color: black;
}

form div button:last-of-type{
    float: right;
}

form div button{
    align-content: center;
}

#body{
    box-sizing: border-box;
    padding: 0px 25px;
    max-width: 80vw;
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
}

/*feedback*/

#feedback-div{
    position: absolute;
    z-index: 10000;
    left: 50%;
    transform: translateX(-50%);
}
#feedback{
    position: relative;
    /* font-family: 'Odibee Sans', cursive; */
    font-size: 2.5rem;
    padding: 10px 50px 5px;
    margin-top: 10px;
    min-width: 60vw;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    animation: apear-and-disapear 5s linear ;
}

.feedback-error{
    background-color: rgb(201, 63, 63);
}

.feedback-success{
    background-color: rgb(27, 201, 41);
}

@keyframes apear-and-disapear{

    0%{
        top: -200px;
    }
    5%{

        top: 10px;
    }
    90%{
        opacity: 100%;
    }
    95%{
        top: 10px;
        opacity: 50%;
    }
    100%{
        top: 10px;
        opacity: 0%;
    }


} 