:root {
    --accent: #00ABE7;
    --extra: #0081AF;
    --font: #FBFEF9;
    --background: #333;
}

*{
    color: var(--font);
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background: var(--background);
    min-height: 100vh;
    overflow: hidden;
}

button{
    background: var(--accent);
    border: none;
    padding: 2.5px 10px;
    transition: background-color 0.5s;
}

button:hover{
    color: var(--background);
    background: var(--extra);
    border: none;
}

#navbar{
    background: var(--accent);
    height: 2.5rem;
    width: 100vw;
    align-items: center;
    margin: auto;
}

#navbar a{
    display: inline-grid;
    padding: 0 1rem;
    height: 2.5rem;
    color: var(--font);
    text-decoration: none;
    font-size: 1.25rem;
    margin: auto;
    text-align: center;
    align-content: center;
    float: right;
    transition: background-color 0.5s;
}

#navbar a:hover{
    color: var(--background);
    background: var(--extra);
}

#navbar #title{
    float: left;
    font-weight: bold;
}

#navbar #profilePicture{
    image-rendering: pixelated;
    max-height: 2rem;
}

#navbar div{
    height: 100%;
    display: inline-block;
    float: right;
}

#currentProfilePicture{
    image-rendering: pixelated;
    height: 10rem;
    max-height: 10rem;
    margin: auto;
}

#pictureOutputHolder{
    max-width: 25rem;
    max-height: 25rem;
}

.customForm div input[type=checkbox]{
    width: 1.5rem;
    height: 1.5rem;
}

.customForm{
    width: 25rem;
}

.customForm div{
    width: 100%;
    padding-top: 0.5rem;
}

.customForm div label{
    padding-right: 0.5rem;
}

select, option{
    color: black;
}

.customForm div input[type=file]{
    color: white;
}

.customForm div input{
    height: 1.5rem;
    width: 12.5rem;
    color: black;
    float: right;
}

.customForm div h1{
    width: 90vw;
}

.customForm div button:last-of-type{
    float: right;
}

.customForm div button{
    align-content: center;
}

#body{
    box-sizing: border-box;
    max-width: calc(100vw - 100px);
    margin: 0 auto;
    min-height: calc(100vh - 2.5rem - 1.5rem - 1.5rem);
    max-height: calc(100vh - 2.5rem - 1.5rem - 1.5rem);
}

/*feedback*/

#feedback-div{
    position: absolute;
    z-index: 10000;
    left: 50%;
    transform: translateX(-50%);
}
#feedback{
    position: relative;
    display: inline-flex;
    /* font-family: 'Odibee Sans', cursive; */
    font-size: 2.5rem;
    padding: 10px 50px 2px;
    margin-top: 10px;
    min-width: 60vw;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    animation: apear-and-disapear 5s linear ;
}

#feedback p{
    text-align: center;
    width: 100%;
}

#feedback button{
    position: absolute;
    right: 1rem;
    transition: none;
}

#feedback button:hover{
    background: none;
}

.feedback-error{
    background-color: rgb(201, 63, 63);
}

.feedback-success{
    background-color: rgb(27, 201, 41);
}

@keyframes apear-and-disapear{
    0%{
        top: -200px;
    }
    5%{

        top: 10px;
    }
    90%{
        opacity: 100%;
    }
    95%{
        top: 10px;
        opacity: 50%;
    }
    100%{
        top: 10px;
        opacity: 0%;
    }
} 

embed{
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 2.5rem - 1.5rem - 1.5rem);
}

#footer{
    bottom: 0;
    background: var(--accent);
    text-align: center;
    height: 1.5rem;
    font-size: 1rem;
    display: flex;
    width: 100%;
    padding: 0px 1rem;
}

#footer div{
    width: calc(100% / 3);
    text-align: center;
}

#footer div a{
    text-decoration: none;

}

#footer div a:hover i{
    color: var(--background);
}

#footer #right{
    text-align: right;
}

.dropdown{
    position: absolute;
    top: 2.5rem;
    min-width: 100%;
    background: var(--accent);
    min-height: 100%;
    height: auto !important;
    /* border-radius: 0px 0px 10px 10px; */
    display: none !important;
    left: 50%;
    transform: translate(-50%, 0);
}

.dropdown a{
    width: 100%;
    padding: 1.25rem 0px;
}

/* .dropdown a:last-of-type{
    border-radius: 0px 0px 10px 10px;
} */

.dropdownHolder:hover .dropdown{
    display: block !important;
}

.dropdownHolder{
    position: relative;
    z-index: 10001;
}

#currentProfilePictureHolder #deleteProfilePicture{
    position: absolute;
    right: 0.25rem;
    top: 0.1rem;
    display: none;
}

#currentProfilePictureHolder #deleteProfilePicture i{
    color: red;
}

#currentProfilePictureHolder:hover #currentProfilePictureColor, #currentProfilePictureHolder:hover #deleteProfilePicture{
    display: unset;
}

#currentProfilePictureHolder{
    position: relative;
    height: 10rem;
    width: 10rem;
    margin: auto;
}

#currentProfilePictureColor{
    background: rgba(255, 255, 255, 0.5);
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#changeAccountHolder{
    position: absolute;
    right: 0;
    top: 0;
}

#profileHolder{
    position: relative;
    margin: 0px auto 0 auto;
    width: 800px;
    max-width: 800px;
    border: floralwhite solid 0px;
    text-shadow: 1px 1px 1px black, 0 0 3px var(--accent), 0 0 5px var(--extra);
    transform: translate(0, 20px);
    height: calc(100vh - 2.5rem - 1.5rem - 1.5rem - 40px);
}

#currentProfilePictureHolderParent, #profilePictureFormHolderParent {
    width: fit-content;
    margin: auto;
}

.foregroundBackground {
    padding: 1% 1% 1% 1%;
    background-color: rgba(255, 255, 255, 0.1);
}

.currentPage{
    background: var(--font) !important;
    color: var(--accent) !important;
}

.currentPage i{
    color: var(--accent) !important;
}

.eye{
    position: absolute;
    right: .4rem;
    color: var(--background);
    top: 0.75rem;
    width: 1rem;
    height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
}

form div{
    position: relative;
}

#breadcrumb{
    background: var(--extra);
    padding: 0px 2.5rem;
    max-height: 1.5rem;
}

#breadcrumb a{
    text-decoration: none;
    color: var(--font);
}

#breadcrumb a:hover{
    color: var(--background);
}

#breadcrumb #profilePicture{
    max-height: 1rem;
    image-rendering: pixelated;
}

#tempsChart, #pointsChart{
    max-height: calc(100vh - 2.5rem - 1.5rem - 1.5rem - 4rem);
}

/* loader */
#loader-div{
    background: var(--background);
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    z-index: 99999999999;
}

#loader-div i{
    position: relative;
    left: 45vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    animation: loader infinite linear 0.6s;
}

@keyframes loader{
    0% {
        transform: rotate(0deg); 
    } 
    100%{
        transform: rotate(360deg);
    }
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-pdf-upload {
    padding-left: 2px;
    padding-right: 2px;
    width: 200px;
    border-left-width: 2px;
    border-right-width: 2px;
    text-align: center;
    float: right;
}

.centerText {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    z-index: 10;
}

#upload {
    margin-top: 10px;
}

#picture {
    z-index: 100;
}

@media screen and (max-width: 800px) {
    #profileHolder{
        width: 100%;
    }
    body {
        width: 100vw;
    }
}

#pictureSubmit {
    transform: translatex(100%);
    position: absolute;
}