<form action="" method="post" id="uploadForm">
    <div>
        <label for="file">File:</label>
        <input type="file" id="fileInput">
        <input type="hidden" name="file" id="file">
    </div>
    <div>
        <label for="name">Name of file (if name is empty, it will pick the name of the file):</label>
        <input type="text" name="customName" id="customName">
    </div>
    <div>
        <input type="hidden" name="name" id="name">
    </div>
    <div>
        <button type="submit" id="upload">Upload file</button>
    </div>
</form>

<script>
    upload.onclick = (e) => {
        e.preventDefault()
        let file = document.getElementById('fileInput').files[0]
        let request = new XMLHttpRequest()
        request.open("POST", window.location.href, true)
        request.onload = (e) => {
            //console.log("Uploaded")
        }
        if(file){
            let fileReader = new FileReader()
            fileReader.onload = () => {
                let data = fileReader.result
                let base64 = data.replace(/^[^,]*,/, '')
                document.getElementById('file').value = base64
                document.getElementById('name').value = file.name
                uploadForm.submit()
                //request.send(`name=${file.name}&file=${encodeURIComponent(base64)}&customName=${document.getElementById('name').value}`)
            }
            fileReader.readAsDataURL(file)
        }
        else{
            uploadForm.submit()
            //request.send(`name=${file.name}&file=""&customName=${document.getElementById('name').value}`) 
        }
        
    }
</script>